
<html>
    <head>
        <title>almog's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 22.09.2016, 15.31</p>
            <h2><a href="">My first post</a></h2>
            <p>הייי זה הבלוג הראשון שלי.</p>
        </div>

        <div>
            <p>published: 22.09.2016, 15.31</p>
            <h2><a href="">My second post</a></h2>
            <p>יומנה של אלמוגf.</p>
        </div>
    </body>
</html>